html {
    background-color: rgb(62, 255, 191);
}
h2 {
    text-align: left;
}

.navbar ul {
    list-style-type: none;
    background-color: aquamarine;
    overflow: hidden;
}

.navbar a{
    color: gray;
    display: block;
    padding: 15px;
}

.navbar a:hover {
    background-color: rgb(53, 100, 84);
}

.navbar li {
    float: left;
}

a {
    text-decoration: none;
    color: gray;
}